body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
}

.box {
    display: inline-block;
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
}

/* Different colors */
.box:nth-child(1) {
    background-color: #de1252dc;
}

.box:nth-child(2) {
    background-color: #3498db;
}

.box:nth-child(3) {
    background-color: #c27b2a;
}

.box:nth-child(4) {
    background-color: #1d9f2c;
}

.box:nth-child(5) {
    background-color: #3c1eb3;
}
.box:hover {
    transform: scale(1.1);
    opacity: 0.8;
}
